
.icon-check:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-layout:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-progress-0:before { content: '\e805'; } /* '' */
.icon-progress-1:before { content: '\e806'; } /* '' */
.icon-progress-2:before { content: '\e807'; } /* '' */
.icon-progress-3:before { content: '\e808'; } /* '' */
.icon-battery:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-camera-outline:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-ok-outline:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel-outline:before { content: '\e80f'; } /* '' */
.icon-cancel-1:before { content: '\e810'; } /* '' */
.icon-cancel-alt:before { content: '\e811'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e812'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e813'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-bat1:before { content: '\e815'; } /* '' */
.icon-bat2:before { content: '\e816'; } /* '' */
.icon-bat3:before { content: '\e817'; } /* '' */
.icon-bat4:before { content: '\e818'; } /* '' */
.icon-bat-charge:before { content: '\e819'; } /* '' */
.icon-plug:before { content: '\e81a'; } /* '' */
.icon-sun:before { content: '\e81b'; } /* '' */
.icon-sun-filled:before { content: '\e81c'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-optin-monster:before { content: '\f23c'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */
